/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.hero {
    position: relative;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-image: url('../images/batman-bg.jpeg'); /* Background image */
    background-size: cover; /* Cover the entire area */
    background-position: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    backdrop-filter: blur(10px); /* Blur effect */
    z-index: 0;
}

.hero-content {
    position: relative; /* Ensure content is on top of pseudo-element */
    z-index: 1;
    padding: 20px;
}

.hero h1 {
    font-size: 4em; /* Responsive font size */
    font-weight: bold;
    color: #ffcc00; /* Yellow color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Text shadow for better contrast */
}

.hero p {
    font-size: 1.5em; /* Responsive font size */
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    margin: 20px 0;
}

.hero-buttons {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.hero-buttons .btn {
    padding: 15px 30px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffcc00;
    border-radius: 50px;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.hero-buttons .btn:hover {
    background-color: #000000;
    color: #ffcc00;
    border-color: #ffcc00;
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.8), 0 0 20px rgba(255, 204, 0, 0.8);
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 3em;
    }
    .hero p {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2em;
    }
    .hero p {
        font-size: 1em;
    }
}
